#nav-cont {
    display: flex;
    justify-content: space-around;
    height: 10%;
    background-color: rgb(250, 250, 250);
    padding: 0 3rem;
    gap: 2rem;
}

#nav-title-logo-cont {
  display: flex;
  align-items: center ;
  gap: 1rem;
}

#nav-bitcoin-logo {
  height: 3rem;
  width: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

#nav-title:hover {
    user-select: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(53, 53, 53);
}

li:hover {
    color: rgb(221, 170, 28);
}



#navigation-list {
    display: flex;
    align-items: center;
    gap: 1rem;
}